@font-face {
    font-family: 'biosharing-icons';
    src:url('fonts/biosharing-icons.eot');
    src:url('fonts/biosharing-icons.eot?#iefix') format('embedded-opentype'),
    url('fonts/biosharing-icons.woff') format('woff'),
    url('fonts/biosharing-icons.ttf') format('truetype'),
    url('fonts/biosharing-icons.svg#biosharing-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'biosharing-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-certificate:before {
    content: "\e600";
}
.icon-verified:before {
    content: "\e601";
}
.icon-user:before {
    content: "\e602";
}
.icon-user-2:before {
    content: "\e603";
}
.icon-tags:before {
    content: "\e604";
}
.icon-open:before {
    content: "\e606";
}
.icon-notverified:before {
    content: "\e607";
}
.icon-links:before {
    content: "\e608";
}
.icon-link2:before {
    content: "\e609";
}
.icon-link:before {
    content: "\e60a";
}
.icon-database:before {
    content: "\e60b";
}
.icon-copyright:before {
    content: "\e60c";
}
.icon-closed:before {
    content: "\e60d";
}
.icon-biosharing:before {
    content: "\e60e";
}
.icon-publication:before {
    content: "\e60f";
}

.icon-pane {
    font-size: 14px;
    font-weight: bolder;
    width: 150px;
    float: left;
    margin: 5px;
    background-color: #f1f2f1;
    padding: 20px;
}
.circle {
    border-radius: 50%;
}

.square {
    border-radius: 2px;
}

.text-item{

    padding: 18px 10px 20px;
    font-weight: lighter;
}

.color-green {
    background-color: #27ae60;
    color: #fff;

}

.color-red {
    background-color: #c0392b;
    color: #fff;
    padding: 5px;
}

.color-orange {
    background-color: #e67e22;
    color: #fff;
    padding: 5px;

}

.color-dark-orange {
    background-color: #d35400;
    color: #fff;
    padding: 5px;
}

.color-blue {
    background-color: #0081A6;
    color: #fff;

}

.color-light-blue {
    background-color: #3498db;
    color: #fff;
    padding: 5px;
}

.color-purple {
    background-color: #9E1F63;
    color: #fff;
    padding: 13px;
}

.color-asphalt{
    background-color: #414241;
    color: #fff;
    padding: 5px;
}

.color-light-grey {
    background-color: #95a5a6;
    color: #fff;
    padding: 5px;

}

.color-torquoise {
    background-color: #16a085;
    color: #fff;
    padding: 5px;

}